@model AsoFacil.Models.Empresa.ManterEmpresaViewModel

<form id="form-cadastro" name="form-cadastro" class="form">
    <div class="form-group">
        <input type="hidden" asp-for="Id" id="id" />
    </div>
    <div class="form-group">
        <label for="cnpj" class="text-success">CNPJ</label><br>
        <input type="text" asp-for="CNPJ" id="cnpj" class="form-control" data-mask="00.000.000/0000-00">
        <span asp-validation-for="CNPJ" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="razao-social" class="text-success">Razão Social</label><br>
        <input type="text" asp-for="RazaoSocial" id="razao-social" class="form-control">
        <span asp-validation-for="RazaoSocial" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="email" class="text-success">Email</label><br>
        <input type="email" asp-for="Email" id="email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group form-switch">
        <span><input type="checkbox" asp-for="Ativa" id="ativa" class="form-check-input" /></span>
        <label for="ativa" class="text-success"><span>Ativa?</span></label><br>
    </div>
    <div class="form-group form-switch">
        <span><input type="checkbox" asp-for="FlagClinica" id="flagClinica" class="form-check-input" /></span>
        <label for="flagClinica" class="text-success"><span>Clínica?</span></label><br>
    </div>
</form>
