@model AsoFacil.Models.TipoUsuario.ManterTipoUsuarioViewModel

<form id="form-cadastro" name="form-cadastro" class="form">
    <div class="form-group">
        <input type="hidden" asp-for="Id" id="id" />
        <label for="codigo">Código</label><br>
        <input type="text" asp-for="Codigo" id="codigo" class="form-control">
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label><br>
        <input type="text" asp-for="Descricao" id="descricao" class="form-control">
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="menuSistema">Menus</label><br>
        @if (ViewBag.MenusSistema != null)
        {
            <select id="menuSistema" multiple="multiple">
                @foreach (var item in ViewBag.MenusSistema)
                {
                    @if (ViewBag.MenuSistema != null && ViewBag.MenuSistema.Contains(item))
                    {
                        <option value="@item" selected>@item</option>
                        continue;
                    }
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#menuSistema').multiselect({
            buttonWidth: '470px'
        });
    });
</script>
