@model AsoFacil.Models.Conta.UsuarioViewModel
@{
    Layout = "_LayoutNaoAutenticado";
    ViewData["Title"] = "Acesso";
}

<main id="main-login">
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="login-form" name="login-form" class="form" method="post" asp-action="Login" asp-controller="Conta">
                                    <h3 class="text-center text-success">Acesso</h3>
                                    <div class="form-group">
                                        <label for="usuario" class="text-success">Email</label><br>
                                        <input type="text" asp-for="Login" id="usuario" class="form-control">
                                        <span asp-validation-for="Login" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="senha" class="text-success">Senha</label><br>
                                        <input type="password" asp-for="Senha" id="senha" class="form-control">
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-switch">
                                        <span><input id="remember-me" asp-for="LembrarDeMim" type="checkbox" class="form-check-input text-success"></span>
                                        <label for="remember-me" class="text-success"><span>Lembre-se de mim</span> </label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success btn-block" id="btnLogin" value="Entrar" />
                                    </div>
                                    <div class="form-group text-center">
                                        Não possui conta? <a class="text-success" asp-controller="Empresa" asp-action="Cadastro">Cadastre-se</a><br />
                                        <a class="text-success text-center">Esqueci minha senha</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/app/Conta/Login.js"></script>
}